.brand-logo {
	margin-left: 15px
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-color:#1E1E1E;
    overflow:hidden;
}

#artist-img {
    width: 70%;
    padding-bottom : 70%; /* = width for a 1:1 aspect ratio */
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 15%;
}

.square a {
	cursor: pointer;
	color: white;
}

.content {
    position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 5%;
    text-align:center;
    
}

/*  For responsive images */

.rs{
    width:auto;
    height:auto;
    max-height:90%;
    max-width:100%;
}
/*  For responsive images as background */

.bg{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
    color:#fff;
}

.table{
    display:table;
    height:100%;
    width:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:bottom;
    height:100%;
    width:100%;
}


#side-nav {
    padding: 0px;
    
    a {
        width: 100%;
        line-height: 3em;
        padding-left: 15px;
        font-size: 1.1em;
        
        i {
            margin-right: 25px;
            padding-top: 10px;
            margin-left: 20px;
        }
    }
    
    a:hover {
        background-color: white;
        @extend .z-depth-1;
    }
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.clear {
    clear: both;
}