<ul id="user-dropdown" class="dropdown-content">
	<li ng-show="logged === true"><a href="#/notification">Updates</a></li>
	<li><a href="#/user/settings">Settings</a></li>
	<li><a href="#/signout">Sign out</a></li>
</ul>
<div class="navbar-fixed">
<nav>
	<div class="nav-wrapper">
		<form id="search-form">
        <div class="input-field">
          <input id="search" ng-model="search.name" type="search" required autofocus="autofocus">
          <label for="search"><i class="mdi-action-search"></i></label>
          <i class="mdi-navigation-close" id="close-search"></i>
        </div>
      </form>
		<div id="navbar">
			<a href="#/home" class="brand-logo"><img class="nav-logo" src="./data/images/logo1.png" alt="Artist Finder"></a>
            <a href="#/home" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="" id="search-trigger"><i class="mdi-action-search"></i></a></li>
                <li ng-show="logged === true"><a href="#/artists/new">Add artist</a></li>
                <li ng-show="logged === true"><a href="#/albums/new">Add album</a></li>
				<li ng-show="logged === true"><a class="dropdown-button" href="#!" data-activates="user-dropdown">{{user.name}}<i class="mdi-action-account-circle right"></i></a></li>
				<li ng-show="logged === false"><a href="#/signin">Sign in</a></li>
				<li ng-show="logged === false"><a href="#/signup">Sign up</a></li>
			</ul>
            <ul class="side-nav" id="mobile-demo" >
                <li><a href="" id="search-trigger-mobile"><i class="mdi-action-search"></i></a></li>
                <li ng-show="logged === true"><a href="" class="disabled">{{user.name}}<i class="mdi-action-account-circle right"></i></a></li>
				<li ng-show="logged === true"><a href="#/artists/new">Add artist</a></li>
			    <li ng-show="logged === true"><a href="#/albums/new">Add album</a></li>
				<li ng-show="logged === true"><a href="#/notification">Updates</a></li>
			    <li ng-show="logged === true"><a href="#/user/settings">Settings</a></li>
			    <li ng-show="logged === true"><a href="#/signout">Sign out</a></li>
				<li ng-show="logged === false"><a href="#/signin">Sign in</a></li>
				<li ng-show="logged === false"><a href="#/signup">Sign up</a></li>
            </ul>
		</div>
	</div>
</nav>
</div>
<div id="search-results" class="container">
	<div ng-repeat="a in artists | filter: search | limitTo:10">
		<a href="#/artists/info/{{a._id}}" class="search-result">
			<div class="card">
				<div class="card-content"><h5 class="truncate"><i ng-show="a.isBand === false" class="fa fa-user padding-right"></i><i ng-show="a.isBand === true" class="fa fa-users padding-right"></i> {{a.name}}</h5></div>
			</div>
		</a>
	</div>
</div>
<section>
	<div class="row">
		<div id="side-nav" class="col s12 m3">
			<br></br>
			<div id="artist-img" class="square bg" style="background-image: url('{{album.image}}')">
				<div class="content">
			    </div>
			</div>
			
			<br>
			<div class="clear hide-on-med-and-up"><h4 class="center-align">{{album.name}}</h4></div>
			<div class="clear"><p class="center-align"><i class="fa fa-calendar-o"></i> {{album.releaseDate | date: 'mediumDate'}}</p></div>
			
			<a href="https://play.spotify.com/search/artist:{{artist.name}} album:{{album.name}}" target="_blank" class="hide-on-med-only flow-text truncate col s12 waves-effect"><i class="fa fa-2x fa-spotify"></i> Listen on Spotify</a>
			<a href="https://play.spotify.com/search/artist:{{artist.name}} album:{{album.name}}" target="_blank" class="hide-on-small-only hide-on-large-only center-align flow-text truncate col s12 waves-effect"><i class="fa fa-2x fa-spotify"></i></a>					
			
			<a href="#/albums/edit/{{album._id}}" class="hide-on-med-only flow-text truncate col s12 waves-effect"><i class="fa fa-2x fa-pencil-square-o"></i> Edit album</a>
			<a href="#/albums/edit/{{album._id}}" class="hide-on-small-only hide-on-large-only center-align flow-text truncate col s12 waves-effect"><i class="fa fa-3x fa-pencil-square-o"></i></a>
		</div>
		
		<div class="col s12 m7 offset-m1">
			<br></br>
			<h4 class="hide-on-small-only">{{album.name}}</h4>
			<h6>by <a href="#/artists/info/{{artist._id}}">{{artist.name}}</a></h6>
			<br>
			
			<div ng-show="album.tracks.length !== 0">
				<div class="row">
					<ul class="collection with-header col s12">
						<li class="collection-header"><h4>Tracks</h4></li>
						<li ng-repeat="track in album.tracks" class="collection-item">{{track}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
