<ul id="user-dropdown" class="dropdown-content">
	<li ng-show="logged === true"><a href="#/notification">Updates</a></li>
	<li><a href="#/user/settings">Settings</a></li>
	<li><a href="#/signout">Sign out</a></li>
</ul>
<div class="navbar-fixed">
<nav>
	<div class="nav-wrapper">
		<form id="search-form">
        <div class="input-field">
          <input id="search" ng-model="search.name" type="search" required autofocus="autofocus">
          <label for="search"><i class="mdi-action-search"></i></label>
          <i class="mdi-navigation-close" id="close-search"></i>
        </div>
      </form>
		<div id="navbar">
			<a href="#/home" class="brand-logo"><img class="nav-logo" src="./data/images/logo1.png" alt="Artist Finder"></a>
            <a href="#/home" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="" id="search-trigger"><i class="mdi-action-search"></i></a></li>
                <li ng-show="logged === true"><a href="#/artists/new">Add artist</a></li>
                <li ng-show="logged === true"><a href="#/albums/new">Add album</a></li>
				<li ng-show="logged === true"><a class="dropdown-button" href="#!" data-activates="user-dropdown">{{user.name}}<i class="mdi-action-account-circle right"></i></a></li>
				<li ng-show="logged === false"><a href="#/signin">Sign in</a></li>
				<li ng-show="logged === false"><a href="#/signup">Sign up</a></li>
			</ul>
            <ul class="side-nav" id="mobile-demo" >
                <li><a href="" id="search-trigger-mobile"><i class="mdi-action-search"></i></a></li>
                <li ng-show="logged === true"><a href="" class="disabled">{{user.name}}<i class="mdi-action-account-circle right"></i></a></li>
				<li ng-show="logged === true"><a href="#/artists/new">Add artist</a></li>
			    <li ng-show="logged === true"><a href="#/albums/new">Add album</a></li>
				<li ng-show="logged === true"><a href="#/notification">Updates</a></li>
			    <li ng-show="logged === true"><a href="#/user/settings">Settings</a></li>
			    <li ng-show="logged === true"><a href="#/signout">Sign out</a></li>
				<li ng-show="logged === false"><a href="#/signin">Sign in</a></li>
				<li ng-show="logged === false"><a href="#/signup">Sign up</a></li>
            </ul>
		</div>
	</div>
</nav>
</div>
<div id="search-results" class="container">
	<div ng-repeat="a in artists | filter: search | limitTo:10">
		<a href="#/artists/info/{{a._id}}" class="search-result">
			<div class="card">
				<div class="card-content"><h5 class="truncate"><i ng-show="a.isBand === false" class="fa fa-user padding-right"></i><i ng-show="a.isBand === true" class="fa fa-users padding-right"></i> {{a.name}}</h5></div>
			</div>
		</a>
	</div>
</div>
<section>
	<div class="row">
		<div id="side-nav" class="col s12 m3">
			<br></br>
			<div id="artist-img" class="square bg" style="background-image: url('{{album.image}}')">
				<div class="content">
			    </div>
			</div>
			
			<br>
				
			<div class="input-field col s10 offset-s1">
				<i class="fa fa-2x fa-picture-o prefix"></i>
				<input ng-model="album.image" type="text" id="image">
				<label for="image" class="active">Image url</label>
			</div>
									
			<div class="row hide-on-small-only">
				<button ng-click="save_album()" class="col s8 offset-s2 btn waves-effect waves-light">Save</button>
			</div>
		</div>
		
		<div class="col s12 m7 offset-m1">
			<br></br>
			<div class="input-field col s10 offset-s1">
				<input ng-model="album.name" type="text" id="name" validate required>
				<label for="name" class="active">Album name</label>
			</div>
			
			<div class="input-field col s10 offset-s1">
				 <datepicker>
		        	<input ng-model="album.releaseDate" date-min-limit="1900/01/01" date-format="MM/dd/yyyy" type="text" id="date">
		      	</datepicker>
				 <label for="date" class="active">Album release date</label>
			</div>
			
			<div class="input-field col s10 offset-s1">
				<input ng-model="album.artistId" type="text" id="name" validate required>
				<label for="name" class="active">Artist AFID</label>
			</div>
			
			<div>
				<div class="row">
					<ul class="collection with-header col s10 offset-s1">
						<li class="collection-header"><h4>Tracks</h4></li>
						<li ng-repeat="track in album.tracks" class="collection-item"><div>{{track}}<a href="" ng-click="remove_track(track)" class="secondary-content"><i class="mdi-action-highlight-remove red-text darken-2"></i></a></div></li>
						<li class="collection-item"><div>
							<input placeholder="Track name" type="text" ng-model="newTrack">
								<button ng-click="add_track(newTrack)" class="btn waves-effect waves-light">Add track</button>
									</div></li>
					</ul>
				</div>
			</div>
			
			<div class="clear"><br></div>
			<div class="row hide-on-med-and-up">
				<button ng-click="save_album()" class="col s8 offset-s2 btn waves-effect waves-light">Save</button>
			</div>
		</div>
	</div>
</section>
