
	<div class="row">
		<div id="side-nav" class="col s12 m3">
			
			<div id="artist-img" class="square bg circle" style="background-image: url('{{artist.image}}')">
				<div class="content">
			    </div>
			</div>
			<a ng-class="artist.twitter === '' ? 'disabled' : ''" href="http://twitter.com/{{artist.twitter}}" target="_blank" class="hide-on-med-only flow-text truncate col s12 waves-effect"><i class="fa fa-2x fa-twitter"></i> Twitter</a>
			<a ng-class="artist.twitter === '' ? 'disabled' : ''" href="http://twitter.com/{{artist.twitter}}" target="_blank" class="hide-on-small-only hide-on-large-only center-align flow-text truncate col s12 waves-effect"><i class="fa fa-3x fa-twitter"></i></a>
			
			<a ng-class="artist.facebook === '' ? 'disabled' : ''" href="http://facebook.com/{{artist.facebook}}" target="_blank" class="hide-on-med-only flow-text truncate col s12 waves-effect"><i class="fa fa-2x fa-facebook-official"></i> Facebook</a>
			<a ng-class="artist.facebook === '' ? 'disabled' : ''" href="http://facebook.com/{{artist.facebook}}" target="_blank" class="hide-on-small-only hide-on-large-only center-align flow-text truncate col s12 waves-effect"><i class="fa fa-3x fa-facebook-official"></i></a>
				
			<a ng-class="artist.instagram === '' ? 'disabled' : ''" href="http://instagram.com/{{artist.instagram}}" target="_blank" class="hide-on-med-only flow-text truncate col s12 waves-effect"><i class="fa fa-2x fa-instagram"></i> Instagram</a>
			<a ng-class="artist.instagram === '' ? 'disabled' : ''" href="http://instagram.com/{{artist.instagram}}" target="_blank" class="hide-on-small-only hide-on-large-only center-align flow-text truncate col s12 waves-effect"><i class="fa fa-3x fa-instagram"></i></a>
					
			<a ng-class="artist.spotify === '' ? 'disabled' : ''" href="http://play.spotify.com/artist{{artist.spotify}}" target="_blank" class="hide-on-med-only flow-text truncate col s12 waves-effect"><i class="fa fa-2x fa-spotify"></i> Listen on Spotify</a>
			<a ng-class="artist.spotify === '' ? 'disabled' : ''" href="http://play.spotify.com/artist{{artist.spotify}}" target="_blank" class="hide-on-small-only hide-on-large-only center-align flow-text truncate col s12 waves-effect"><i class="fa fa-3x fa-spotify"></i></a>
					
			<a ng-class="artist.lastfm === '' ? 'disabled' : ''" href="{{artist.lastfm}}" target="_blank" class="hide-on-med-only flow-text truncate col s12 waves-effect"><i class="fa fa-2x fa-lastfm"></i> Last.fm page</a>
			<a ng-class="artist.lastfm === '' ? 'disabled' : ''" href="{{artist.lastfm}}" target="_blank" class="hide-on-small-only hide-on-large-only center-align flow-text truncate col s12 waves-effect"><i class="fa fa-3x fa-lastfm"></i></a>
					
			<a ng-class="artist.website === '' ? 'disabled' : ''" href="{{artist.website}}" target="_blank" class="hide-on-med-only flow-text truncate col s12 waves-effect"><i class="fa fa-2x fa-external-link"></i> Official website</a>
			<a ng-class="artist.website === '' ? 'disabled' : ''" href="{{artist.website}}" target="_blank" class="hide-on-small-only hide-on-large-only center-align flow-text truncate col s12 waves-effect"><i class="fa fa-3x fa-external-link"></i></a>
					
			<a href="#/artists/edit/{{artist._id}}" class="hide-on-med-only flow-text truncate col s12 waves-effect"><i class="fa fa-2x fa-pencil-square-o"></i> Edit artist</a>
			<a href="#/artists/edit/{{artist._id}}" class="hide-on-small-only hide-on-large-only center-align flow-text truncate col s12 waves-effect"><i class="fa fa-3x fa-pencil-square-o"></i></a>
		</div>
		
		<div class="col s12 m7 offset-m1">
			<br></br>
			<h4>{{artist.name}}</h4>
			<br>
				<blockquote cite="flow-text">
			{{artist.bio}}
				</blockquote>
			<br></br>
			<h5>Members</h5>
			//members not in the array; weird
		</div>
		
	</div>