<div id="search-results" class="container">
	<div ng-repeat="a in artists | filter: search | limitTo:10">
		<a href="#/artists/info/{{a._id}}" class="search-result">
			<div class="card">
				<div class="card-content"><h5 class="truncate"><i ng-show="a.isBand === false" class="fa fa-user"></i><i ng-show="a.isBand === true" class="fa fa-users"></i>  {{a.name}}</h5></div>
			</div>
		</a>
	</div>
</div>
<section class="container">
	
	<div class="section">
		<h5>Top Artists</h5>
		<p>The most followed artists at the moment</p>
	</div>
	<div class="divider"></div>
	<br>

	<div class="row">
		<section ng-repeat="(index, value) in top">
			<div  class="square bg waves-effect waves-light" style="background-image: url('{{value.image}}')">
			    <a class="" href="#/artists/info/{{value._id}}">
				<div class="content">
					<div class="table"><h5 class="table-cell">{{value.name}}</h5></div>
			    </div>
				</a>
			</div>
		</section>
	</div>
	
	<div class="section">
		<h5>Recently Added</h5>
		<p>Everybody helps sharing new artists! See the ones added recently</p>
	</div>
	<div class="divider"></div>
	<br>
		
	<div class="row">
		<section ng-repeat="(index, value) in recent">
			<div  class="square bg waves-effect waves-light" style="background-image: url('{{value.image}}')">
			    <a href="#/artists/info/{{value._id}}">
				<div class="content">
					<div class="table"><h5 class="table-cell">{{value.name}}</h5></div>
			    </div>
				</a>
			</div>
		</section>
	</div>	
</section>
